@font-face {
    font-family: 'roboto';
    src: url(./assets/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'roboto-b';
    src: url(./assets/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'roboto-sb';
    src: url(./assets/Roboto-SemiBold.ttf);
}


body {
    font-family: 'Roboto';
}

.card {
    border: 1px solid rgba(98, 98, 98, 0.286);
    border-radius: 2%;
    width: 21rem;
    height: 32rem;
    overflow: hidden;
    margin: auto;
}

.header-image {
    position: relative;
    width: 21rem;
    height: 18rem;
    top: -4rem;
}

.svg {
    width: 1rem;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.first-p {
    font-family: 'roboto-sb';
    font-size: 0.8rem;
}

.first-p, .third-p {
    margin: .5rem 1rem;
    color: rgb(96, 95, 95);
}

.second-p {
    font-size: 1.3rem;
    margin: 1rem 1rem;
}

.first-p, .second-p, .third-p, button {
    position: relative;
    top: -3rem
}

button {
    font-size: 1.04rem;
    width: 9rem;
    height: 2.2rem;
    font-family: 'roboto-sb';
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid rgba(98, 98, 98, 0.286);
    border-radius: 4px;
    background-color: transparent;
    color: #356ee0;
    cursor: pointer;
}

button:hover {
    background-color: #356ee0;
    color: white;
}